<!doctype html>
<html>
<head>
    <style>
        p{
            margin-top: 30px;
            float: middle;
            margin-left: 100px;
            text-align: left;
        }
    </style>
    <title>Top {{number}} posts from {{df_name}}</title>
</head>
<body>
    <h2 align = "center">Top {{number}} posts from {{df_name}}</h2>
    <div>
        {% for index, row in posts.iterrows() %}
        <div>
            <p align = "center">{{row['Title']}}, {{row['Score']}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>